<div>

    <div class="m-2">
        <div class="form-group col-lg-3">
            <label for="">Filter :</label>
            <input type="text" placeholder="Filter here.. ex: Ashton Cox" (keyup)="applyFilter($event)"
                class="form-control">
        </div>

    </div>


    <div class="mat-elevation-z8">
        <div class="m-2 p-3">
            <button type="button" class="btn btn-primary" (click)="createClicked()">
                Create New Employee
            </button>
        </div>
        <table mat-table [dataSource]="dataSource" matSort style="width:100%">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row" > {{row?.id}} </td>
            </ng-container>

            <ng-container matColumnDef="employee_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
                <td mat-cell *matCellDef="let row" > {{row?.employee_name}} </td>
            </ng-container>

            <ng-container matColumnDef="employee_age">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Age </th>
                <td mat-cell *matCellDef="let row"> {{row?.employee_age}} </td>
            </ng-container>

            <ng-container matColumnDef="employee_salary">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> employee_salary </th>
                <td mat-cell *matCellDef="let row"> {{row?.employee_salary}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let row">
                    <i style="color:red;cursor: pointer;" (click)="update(row)"  class="fas fa-edit"></i>
                    &nbsp;
                    <i style="color:red;cursor: pointer;" (click)="deleteUser(row)" class="fas fa-trash-alt"></i>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>

        <mat-paginator [length]="length" [pageSize]="pageSize" (page)="pageEvent = $event"></mat-paginator>
    </div>


</div>


<!-- User Modal -->

<div class="modal" id="usermodal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">User Modal</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeUserModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row" [formGroup]="employeeForm">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="">Employee Name</label>
                            <input type="text" placeholder="Employee Name" formControlName="employee_name"
                                class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="">Employee Age</label>
                            <input type="number" placeholder="Employee Age" formControlName="employee_age"
                                class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="">Employee Salary</label>
                            <input type="number" placeholder="Employee Salary" formControlName="employee_salary"
                                class="form-control">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" (click)="submitUser(employeeForm?.value)">Save</button>
            </div>
        </div>
    </div>
</div>